body{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  text-align: center;  /* Center the text inside the paragraph */
  margin: 0;           /* Remove default margin */
  position: absolute;  /* Use absolute positioning */
  top: 50%;            /* Position from the top of the page */
  left: 50%;           /* Position from the left of the page */
  transform: translate(-50%, -50%);  /* Center the paragraph */
}